# .gitignore

# intermediate files
*.py[cod]
*.so
*.swp
_notes.md
parser.out
parsetab.py
pd-images/*
!pd-images/*.png
!pd-images/*.svg

## Unit test / coverage reports
.coverage
.tox
nosetests.xml

# directories
.cache
scr/
tmp/
venv/
pd-images/
.pytest_cache/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
__pycache__

